@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
    box-sizing: border-box;
}

a:link {
    color: rgba(166,83,120,1);
    text-decoration: none
}

a:visited {
    color: rgba(166,83,120,1);
    text-decoration: none;
}

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0px;
    padding: 0px
}

main {
    padding: 16px
}

h1 {
    color: rgba(166,83,120,1)
}

h4 {
    margin: 24px 0px 0px;
    display: inline-block;
    box-shadow: 8px 5px 5px rgba(200,200,200,.75);
}

div {
    display: inline-block
}

footer {
    font-size: small;
    background-color: rgba(250,242,175,1);
    padding: 24px 24px

}

img {
    height: 200px;
    display: inline-block;
    margin: 24px 0px 0px
}

nav {
    background-color: rgba(92,155,166,1);
    color: white;
    border-bottom: 1px solid rgba(243,146,190,1);
    padding: 16px
}

a.banner:link {
    color: white;
    font-weight: bold;

}

a.banner:visited {
    color: white;
    font-weight: bold;

}

.my-grid {
    display: grid;
    grid-template-columns: repeat(5, 210px);
    grid-template-rows: auto 10;
    grid-column-gap: 32px;

}

tr:nth-child(even) {
    background: rgba(200,200,200,.75)
}
